<div ng-repeat="post in posts | filter:postid" class="panel panel-primary">
	<div class="panel-heading">
		<input type="text" class="form-control post-topic" ng-model="post.topic" placeholder="Enter topic">
		<div class="btn-group">
			<button type="button" class="btn btn-danger" ng-click="deletePost(post, posts)">Delete</button>
			<a role="button" class="btn btn-default" ng-hide="postid" target="_blank" href="#/post/{{post.postid}}">Share</a>
		</div> 
		<!--
		Posted: {{post.posted}} by {{post.user.username}}
		<br>
		Last edited: {{post.lastEdited.time}} by {{post.lastEdited.user.username}}
		-->
	</div>
	<div class="panel-body">
		<textarea class="form-control" row="3" ng-model="post.content" placeholder="Enter post content"></textarea>
	</div>
</div>
