<div ng-include src="'views/partial/header.html'"></div>

<div class="jumbotron">
  <h1>Welcome to CopyPaste!</h1>
  <p class="lead">
    Enjoy your stay!
  </p>
</div>

<div class="row marketing">
  <h4>Logging in</h4>
  <p>
    You can login either using your Facebook account or create a new copypaste accound.
  </p>
  <p>
    Just click Login on the top right and select you preference
  </p>

  <h4>Private posts</h4>
  <p>
    Create a private post to share text between your own devices. Only you can see these posts.
  </p>

  <h4>Public post</h4>
  <p>
    Make a post public so that others can view and edit them!
  </p>

  <h4>Sharing</h4>
  <p>
    Use the share feature to share posts with your friends, allowing you to easily collaborate!
  </p>
</div>

<div ng-include src="'views/partial/footer.html'"></div>

